<div id="main-page-content">
    <div class="container-fluid">
        <h1>Bootstrap Sidebar Version 1.0</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Features</div>
                    <div class="panel-body" id="feature-content">
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-check icon-big" aria-hidden="true"></span>
                                    <h3>Responsive</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-fullscreen icon-big" aria-hidden="true"></span>
                                    <h3>Full Screen Display</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                                    <h3>Devices Compatible</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-tint icon-big" aria-hidden="true"></span>
                                    <h3>Light Weight CSS</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-thumbs-up icon-big" aria-hidden="true"></span>
                                    <h3>Free Support</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-knight icon-big" aria-hidden="true"></span>
                                    <h3>Vector Icons</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-console icon-big" aria-hidden="true"></span>
                                    <h3>Single Piece Code</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-object-align-vertical icon-big" aria-hidden="true"></span>
                                    <h3>Submenu</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-text-background icon-big" aria-hidden="true"></span>
                                    <h3>8 Themes</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>